wp-config.php
wp-content/uploads/
wp-content/cache/

node_modules/
package-lock.json
npm-debug.log*

tailwind.css
tailwind.config.js
postcss.config.js


.DS_Store
Thumbs.db
*.log

ftp-config.json
sftp-config.json
